@model ImageAnswer
@{
    var style = "";
    string[] styleWrongAnswer = null;
    if (Model.IsRight())
    {
        style = "background-color:#D3FFD2";
        styleWrongAnswer = new string[]{"", "","" };
    }
    else
    {
        styleWrongAnswer = new string[3];
        style = "background-color:#FFD2D2";
        for (var i = 0; i < 3; i++)
        {
            if (i == int.Parse(Model.RightAnswer) - 1)
            {
                styleWrongAnswer[i] = "text-decoration-line:underline;";
            }
            else
            {
                styleWrongAnswer[i] = "color:rgba(0,0,0,0.5);";
            }
        }
    }
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<task class="color-task-conteiner-image" style=@style>
    <task class="task-container-image">
        <task class="description-image">
            Look at the text. What does it say? Choose the correct answer.
        </task>

        <task class="block-image-task">
            <link href="~/css/colors.css" rel="stylesheet" />
            <link href="~/css/style.css" rel="stylesheet" />
            @Html.Raw(@Model.Script)
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <task class="image-task">

                @if (@Model.Question.Length > 1)
                {
                    <task class="block-variant-image" style="margin-bottom:21px">@Model.Question</task>
                }

                <task class="block-variant-image">
                    <label style=@styleWrongAnswer[0]>
                        @Html.RadioButton("userAnswer", "1", (bool)(Model.UserAnswer == "1"), new { @disabled = true})
                        @Model.First
                    </label>
                </task>
                <task class="block-variant-image">
                    <label style=@styleWrongAnswer[1]>
                        @Html.RadioButton("userAnswer", "2", (bool)(Model.UserAnswer == "2"), new { @disabled = true })
                        @Model.Second
                    </label>
                </task>
                <task class="block-variant-image">
                    <label style=@styleWrongAnswer[2]>
                        @Html.RadioButton("userAnswer", "3", (bool)(Model.UserAnswer == "3"), new { @disabled = true })
                        @Model.Third
                    </label>
                </task>
            </task>
        </task>
        @if (ViewBag.TaskNumber < ViewBag.TotalNumber && !ViewBag.IsTrainingFinish)
        {
            <a href="~/Home/ShowNextTask">
                <input type="submit" style="margin-bottom: 62px;" value="Следующее задание" />
            </a>
        }
        else
        {
            <a href="~/Home/ShowResults">
                <input type="submit" style="margin-bottom: 62px;" value="Узнать результаты">
            </a>
        }

    </task>
</task>
