@model ImageTask

<markdown>

    ##### **Look at the text. What does it say? Choose the correct answer.** #####

</markdown>

<img src="@Url.Action("GetImage", new { id = Model.ImageId })"><br>

@using (Html.BeginForm("CheckAnswer", "Home", FormMethod.Post))
{
    @Html.RadioButton("userAnswer", "1", true)
    <span>1. @Model.First</span> <br />
    @Html.RadioButton("userAnswer", "2")
    <span>2. @Model.Second</span> <br />
    @Html.RadioButton("userAnswer", "3")
    <span>3. @Model.Third</span> <br />

    <p>
        <input type="submit" value="Check" />
    </p><br />
}
