@model ImageAnswer

<p style="background-color:lightcyan; font-size:large">
    <b>
        Look at the text. What does it say? Choose the correct answer.
    </b>
</p>

<style>
    span.wrong {
        background-color: #FA8072;
    }
    span.right {
        background-color: #7CFC00;
    }

</style>

<link href="~/css/colors.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

@Html.Raw(@Model.Script)

<span>@Model.Question</span> <br />

@Html.RadioButton("userAnswer", "1", (bool)(Model.UserAnswer == "1"))
<span class=@Model.Classes[0]>1. @Model.First</span>  <br />
@Html.RadioButton("userAnswer", "2", (bool)(Model.UserAnswer == "2"))
<span class=@Model.Classes[1]>2. @Model.Second</span>  <br />
@Html.RadioButton("userAnswer", "3", (bool)(Model.UserAnswer == "3"))
<span class=@Model.Classes[2]>3. @Model.Third</span>  <br />

@{
    if (Model.IsRight())
    {
        <span style="color:#7CFC00;">Правильно!</span>
    }
    else
    {
        <span style="color:#FA8072;">Неправильно!</span><br>
        <text>Правильный ответ: @Model.RightAnswer</text>
    }
}
