@model ImageTask

<p style="background-color:lightcyan; font-size:large">
    <b>
        Look at the text. What does it say? Choose the correct answer.
    </b>
</p>
<br>

<link href="~/css/colors.css" rel="stylesheet" />
<link href="~/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />


@Html.Raw(@Model.Script)


@using (Html.BeginForm("CheckAnswer", "Home", FormMethod.Post))
{
    <span>@Model.Question</span> <br />

    <label>
        @Html.RadioButton("userAnswer", "1", true)
        <span>@Model.First</span>
    </label> <br />

    <label>
        @Html.RadioButton("userAnswer", "2")
        <span>@Model.Second</span>
    </label> <br />

    <label>
        @Html.RadioButton("userAnswer", "3")
        <span>@Model.Third</span>
    </label> <br />

    <p>
        <input type="submit" value="Проверить" />
    </p><br />
}
