@model Training

<h2 style="background-color:powderblue;">Настройки теста</h2>
@using (Html.BeginForm("StartTest", "Home", FormMethod.Post))
{

    <markdown>

        ##### **Выберите уровень:** #####

    </markdown>

    @Html.RadioButton("userLevel", "B1", true)
    <span>1. B1</span> <br />
    @Html.RadioButton("userLevel", "B2")
    <span>2. B2</span> <br />


    <markdown>

        ##### **Выберите тип тренировки:** #####

    </markdown>

    @Html.RadioButton("userTrainig", "all", true)
    <span>1. Все задания</span> <br />
    @Html.RadioButton("userTrainig", "sentences")
    <span>2. Предложения</span> <br />
    @Html.RadioButton("userTrainig", "texts")
    <span>3. Тексты</span> <br />
    @Html.RadioButton("userTrainig", "images")
    <span>4. Картинки</span> <br /><br />

    <label> Количество заданий:</label>
    <select name="tasksNumber">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
    </select>

    <markdown>

        ##### **Выберите условие окончания тренировки:** #####

    </markdown>

    @Html.RadioButton("userCondition", "end", true)
    <span>1. До конца заданий</span> <br />
    @Html.RadioButton("userCondition", "oneMistake")
    <span>2. До первой ошибки</span> <br />
    @Html.RadioButton("userCondition", "timer")
    <span>3. Ограничение по времени (пока в секундах, чтобы удобнее было тестировать) </span>
    <input type="number" name="time" style="width: 5em" min="1" oninput="validity.valid||(value='');"><br /><br />

    <p>
        <input type="submit" value="Начать тестирование" />
    </p><br />
}

