@model Parameters

<h2 style="background-color:powderblue;">Настройки теста</h2>
@using (Html.BeginForm("StartTest", "Home", FormMethod.Post))
{
    <markdown>

        ##### **Выберите уровень:** #####

    </markdown>

    @for (var n = 0; n < Model.Levels.Count; n++)
    {
        <span>@Html.RadioButtonFor(m => m.UserLevel, Model.Levels[n], n == 0 ? new { @checked = "checked" } : null)</span>
        @string.Format("{0}. {1}", n + 1, Model.Levels[n])
        <br />
    }

    <markdown>

        ##### **Выберите тип тренировки:** #####

    </markdown>

    @Html.RadioButtonFor(m => m.UserTraining, "all", new { @checked = "checked" })
    <span> 1. Все задания</span><br />
    @Html.RadioButtonFor(m => m.UserTraining, "sentences")
    <span> 2. Предложения</span><br />
    @Html.RadioButtonFor(m => m.UserTraining, "texts")
    <span> 3. Тексты</span><br />
    @Html.RadioButtonFor(m => m.UserTraining, "images")
    <span> 4. Картинки</span><br /><br />

    <label> Количество заданий:</label>
    <input asp-for="TasksNumber" type="number" style="width: 5em" value="1" min="1" max="2" onkeydown="return false" />
    <br />

    <markdown>

        ##### **Выберите условие окончания тренировки:** #####

    </markdown>

    var i = 1;
    foreach (var condition in Model.Conditions)
    {
        <span>@Html.RadioButtonFor(m => m.UserCondition, condition.Key, i == 1 ? new { @checked = "checked" } : null)</span>
        @string.Format("{0}. {1}", i, condition.Value);
        i++;
        if (condition.Key == "timer")
        {
            <input asp-for="Time" type="number" style="width: 5em" value="5" min="1" oninput="validity.valid||(value='');" />
        }
        <br />
    }

    <input type="submit" value="Начать тестирование" />
}

