@model Parameters
@using System.ComponentModel.DataAnnotations;

<h1>Настройки теста</h1>
@using (Html.BeginForm("StartTest", "Home", FormMethod.Post))
{
    <set class="setting-container">
        <set class="level-subblock">
            <set class="block-text">
                Выберите уровень
            </set>
            @foreach (var level in Enum.GetValues(typeof(Parameters.Levels)))
            {
                <label class="block-variants">
                    @Html.RadioButtonFor(m => m.UserLevel, level)
                    @string.Format(" {0}", level)
                </label>
            }
        </set>
        <set class="setting-line "></set>
        <set class="type-subblock">
            <set class="block-text">
                Выберите тип тренировки
            </set>
            @foreach (Parameters.Trainings training in Enum.GetValues(typeof(Parameters.Trainings)))
            {
                <label class="block-variants">
                    @Html.RadioButtonFor(m => m.UserTraining, training)
                    @string.Format(" {0}", training.GetAttribute<DisplayAttribute>().Name)
                </label>
            }
            <set class="block-variants"> Количество заданий одного типа:</set>
            <input asp-for="TasksNumber" type="number" value=1 required min="1" />
        </set>
        <set class="setting-line "></set>
        <set class="end-subblock">
            <set class="block-text">
                Выберите условие окончания тренировки
            </set>
            @foreach (Parameters.Conditions condition in Enum.GetValues(typeof(Parameters.Conditions)))
            {
                    <label class="block-variants">
                        @Html.RadioButtonFor(m => m.UserCondition, condition)
                        @string.Format(" {0}", condition.GetAttribute<DisplayAttribute>().Name)
                    </label>
                if (condition == Parameters.Conditions.Timer)
                {
                    <input asp-for="Time" type="number" value=1 placeholder="1" min="1" />
                }
            }
        </set>
    </set>
    <input type="submit" value="Начать тестирование" />
}

