@model Training

<h2>Test settings</h2>
@using (Html.BeginForm("StartTest", "Home", FormMethod.Post))
{

    <markdown>

        ##### **Choose level** #####

    </markdown>

    @Html.RadioButton("userLevel", "B1", true)
    <span>1. B1</span> <br />
    @Html.RadioButton("userLevel", "B2")
    <span>2. B2</span> <br />


    <markdown>

        ##### **Choose training** #####

    </markdown>

    @Html.RadioButton("userTrainig", "all", true)
    <span>1. All tasks</span> <br />
    @Html.RadioButton("userTrainig", "sentences")
    <span>2. Sentences tasks</span> <br />
    @Html.RadioButton("userTrainig", "texts")
    <span>3. Text tasks</span> <br />
    @Html.RadioButton("userTrainig", "images")
    <span>4. Image tasks</span> <br />

    <markdown>

        ##### **Choose finish condition** #####

    </markdown>

    @Html.RadioButton("userCondition", "end", true)
    <span>1. To end of tasks </span> <br />
    @Html.RadioButton("userCondition", "oneMistake")
    <span>2. To first mistake</span> <br />
    @Html.RadioButton("userCondition", "timer")
    <span>3. 15 minutes</span> <br />


    <p>
        <input type="submit" value="Start Test" />
    </p><br />
}

