@model Parameters
@using System.ComponentModel.DataAnnotations;

<h2 style="background-color:powderblue;">Настройки теста</h2>
@using (Html.BeginForm("StartTest", "Home", FormMethod.Post))
{
    <markdown>

        ##### **Выберите уровень:** #####

    </markdown>

    var n = 1;
    foreach (var level in Enum.GetValues(typeof(Parameters.Levels)))
    {
        @Html.RadioButtonFor(m => m.UserLevel, level)
        @string.Format(" {0}. {1}", n, level)
        n++;
        <br />
    }

    <markdown>

        ##### **Выберите тип тренировки:** #####

    </markdown>

    n = 1;
    foreach (Parameters.Trainings training in Enum.GetValues(typeof(Parameters.Trainings)))
    {
        @Html.RadioButtonFor(m => m.UserTraining, training)
        @string.Format(" {0}. {1}", n, training.GetAttribute<DisplayAttribute>().Name)
        n++;
        <br />
    }

    <label> Количество заданий одного типа:</label>
    <input asp-for="TasksNumber" type="number" style="width: 5em" value="1" min="1" />
    <br />

    <markdown>

        ##### **Выберите условие окончания тренировки:** #####

    </markdown>

    n = 1;
    foreach (Parameters.Conditions condition in Enum.GetValues(typeof(Parameters.Conditions)))
    {
        @Html.RadioButtonFor(m => m.UserCondition, condition)
        @string.Format(" {0}. {1}", n, condition.GetAttribute<DisplayAttribute>().Name)
        n++;
        if (condition == Parameters.Conditions.Timer)
        {
            <input asp-for="Time" type="number" style="width: 5em" value="5" min="1" oninput="validity.valid||(value='');" />
        }
        <br />
    }
    <br />

    <input type="submit" value="Начать тестирование" />
}

