@model Results

<h1>Результаты</h1>
<result>
    <result class="result-container">
        <result class="result-bold-text">
            Правильные ответы:
        </result>
            @foreach (var taskType in Model.CorrectTasks.Keys)
            {
                <result class="result-normal-text">
                    @Model.TaskNames[taskType]: @Model.CorrectTasks[taskType].ToString()
                </result>
            }
    </result>
    <result class="result-container">
        <result class="result-bold-text">
            Неправильные ответы:
        </result>
        @foreach (var taskType in Model.IncorrectTasks.Keys)
        {
            <result class="result-normal-text">
                @Model.TaskNames[taskType]: @Model.IncorrectTasks[taskType].ToString()
            </result>
        }
    </result>
        <result class="result-container">
            <result class="result-normal-text">Максимальные баллы: @Model.MaxCount</result>
            <result class="result-normal-text">Ваши баллы: @Model.ResultCount</result>
            <result class="result-procent-text">Результат: @Model.Procent%</result>
        </result>
</result>
