@model Results

<p style="background-color:powderblue; font-size:large">
    <b>
        Ваши результаты
    </b>
</p>

<text><b>Правильные ответы:</b></text><br>
@foreach (var typeTask in Model.CorrectTasks.Keys)
{
    <text>@typeTask: @Model.CorrectTasks[typeTask].ToString()</text><br>
}
<br>
<text><b>Неправильные ответы:</b></text><br>
@foreach (var typeTask in Model.IncorrectTasks.Keys)
{
    <text>@typeTask: @Model.IncorrectTasks[typeTask].ToString()</text><br>
}
<br>
<text>Максимальные баллы: @Model.MaxCount</text><br>
<text>Ваши баллы: @Model.ResultCount</text><br>
<text style="background-color:lightcyan;"><b>Результат: @Model.Procent%</b></text><br>