@model SentenceAnswer

<p style="background-color:lightcyan; font-size:large">
    <b>
        Complete the second sentence so that it has a similar meaning to the first sentence, using the word given.<br />
        Do not change the word given. You must use between two and five words, including the word given.
    </b>
</p>

<p style="font-size:large">
    @Model.First
</p>

<p style="font-size:large">
    <b>
        @Model.Word
    </b>
</p>

<style>
    .wrong {
        color: red;
    }
</style>

@Model.Second[0]
@Html.TextBox("userAnswer", (string)ViewBag.Answer, new { @class = @Model.Class })
@Model.Second[1]<br />

@{
    if (Model.IsRight())
    {
        <span style="color:green;">Правильно!</span>
    }
    else
    {
        <span style="color:red;">Неправильно!</span><br>
        <text>Правильный ответ: @Model.RightAnswer</text>
    }
}