@model SentenceAnswer
    
@{
    var style = "";
    if  (Model.IsRight())
    {
        style = "background-color:#D3FFD2";
    }
    else
    {
        style = "background-color:#FFD2D2";
    }
}

<task class="color-task-conteiner" style=@style>
    <task class="task-container">
        <task class="description">
            Complete the second sentence so that it has a similar meaning to the first sentence, using the word given.<br />
            Do not change the word given. You must use between two and five words, including the word given.
        </task>
        <task class="sentence">
            @Model.First
        </task>
        <task class="description">
            @Model.Word
        </task>
        <task class="sentence" style="padding-bottom: 36px;">
            @Model.Second[0]
            @Html.TextBox("userAnswer", (string)ViewBag.Answer, new { @class = @Model.Class, @readonly = true })
            @Model.Second[1]
        </task>

        @if (!Model.IsRight())
        {
            <task class="sentence" style="padding-bottom: 24px;">
                Правильный ответ:  @Model.RightAnswer
            </task>
        }
        else
        {
            <task class="sentence" style="padding-bottom: 48px;">
            </task>
        }
        @if (ViewBag.TaskNumber < ViewBag.TotalNumber && !ViewBag.IsTrainingFinish)
        {
            <a href="~/Home/ShowNextTask">
                <input type="submit" value="Следующее задание" />
            </a>
        }
        else
        {
            <a href="~/Home/ShowResults">
                <input type="submit" value="Узнать результаты">
            </a>
        }
    </task>
</task>