@model TextAnswer

<p style="background-color:lightcyan; font-size:large">
    <b>
        Click in the gaps and type one word in each gap.
    </b>
</p>

<style>
    .wrong {
        background-color: #FA8072;
    }
    .right {
        background-color: #7CFC00;
    }
</style>

@{
    for (var i = 0; i < Model.Text.Length - 1; i++)
    {
        @Model.Text[i]
        @Html.TextBox("userAnswer", (string)ViewBag.Answer?[i], new { @class = @Model.Classes?[i] })
    }
    @Model.Text[Model.Text.Length - 1]<br />
}

@{
    if (Model.IsRight())
    {
        <span style="color:#7CFC00;">Правильно!</span>
    }
    else
    {
        <span style="color:#FA8072;">Неправильно!</span><br>
        <text>Правильные ответы:</text><br>
        for (var i = 0; i < Model.RightAnswer.Length; i++)
        {
            <text>@String.Format("{0}. {1}", i + 1, Model.RightAnswer[i])</text><br>
        }
    }
}